div[style="color: red"] {
  text-align: center;
  font-size: 24px;
}

.leftSection {
  background-color: var(--purple1);
  
  display: flex;
  flex-direction: column;

  max-width: 370px;
  height: 100vh;
  color: var(--white);
  padding: 22px;
  padding-top: 0px;
}

.white-bg {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  flex: 1;
  gap: 20px;
}

.white-bg p, .white-bg ul, .white-bg li {
  color: var(--dark-gray);
  margin: 0;
}
/* body-text */
.white-bg p {
  font-size: 19px;
  font-weight: 500;
}
/* bullet-point */
.white-bg li {
  font-size: 17px;
  font-weight: 400px;
  margin: 4px;
}
.white-bg h3 {
  color: var(--purple1);
}

.title {
  display: flex;
  align-items: center; 
  font-size: 27px; 
  font-weight: bold;
  color: var(--white);
}

.logo-container img {
  width: 150px; 
  background-color: transparent;
}

.log-entry {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Calendar Styles */

/* Calendar */
.react-calendar {
  background: var(--white);
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-top: 22px;
}

.react-calendar__navigation button {
  color: var(--purple1);
  font-size: 18px;
}

.react-calendar__month-view__weekdays {
  color: var(--purple1);
}

.react-calendar__tile {
  color: var(--purple1);
  font-size: 16px;
}

.react-calendar__tile.highlight {
  color: var(--purple1);
  position: relative;
  font-weight: bold;
}

/* Underline for highlighted dates */
.react-calendar__tile.highlight::after {
  content: "";
  width: 80%;
  height: 3px;
  background: var(--purple1);
  position: absolute;
  bottom: 5px;
  left: 10%;
  border-radius: 2px;
}
.how-to-title {
  color: var(--purple1); 
  display: flex;
  align-items: center;
  gap: 10px;
}

