@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* global color presets */

:root {
  --primary-green: #45bf84;
  --secondary-lightgrey: #f3f3f3;
  --darkgrey: #747474;
  --white: #fff;
  --text: #191a23;

  --purple1: #662080;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #e7e7e7;
  --medium-gray: #a499ab;
  --dark-gray: #5e5462;
  --red: #dc4444;
  --solid-blue: #6b95ff;
  --purple2: #b300ea;
  --sign-up-fill-1: #e5edff;
  --sign-up-fill-2: #bfd1ff;
  --sign-up-fill-3: #99b6ff;
  --sign-up-fill-4: #739aff;
  --sign-up-fill-5: #4d7fff;
  --sign-up-fill-6: #2664ff;
  --event-shadow: #3800d236;
  --translucent: #d0c0d770;
  --lightest-gray: #f7f7f9;

}

* {
  font-family: "Inter", sans-serif;
  color: var(--text);
}

main {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 21px;
  font-weight: 400;
}

h6 {
  font-size: 40px;
  font-weight: 600;
  color: var(--purple1);
}

.navButton {
  background-color: var(--purple1);
  color: var(--white);
  word-wrap: break-word;
  border: 0px;
  border-radius: 5px;
  width: 37px;
  height: 37px;
  position: fixed;
  top: 17px;
  right: 17px;
}

.navIcon {
  stroke: var(--white);
  stroke-width: 3;
}
